#area {
}

#keyboard {
  background-color: #004134;
  text-align: center;
  line-height: 25px;
  max-width: 700px;
  padding: 3px;
  display: none;
}

#keyboard.active {
  display: block;
}

#keyboard.uppercase #key-shift {
  background-color: #7bb2a4;
}

.keyboard_line {
  display: flex;
  justify-content: center;
}

.keyboard_line:nth-child(2),
.keyboard_line:nth-child(4) {
  margin-right: 18px;
  margin-left: 18px;
}

#keyboard button {
  background-color: #3c675c;
  color: white;
  border-radius: 2px;
  border: none;
  padding: 4px 10px;
  flex: auto;
  margin: 2px;
}

#keyboard button img {
  max-height: 16px;
  margin-bottom: -4px;
}

#keyboard #key-space {
  max-width: 55%;
}
